* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#maincontainer {
    background: url('assets/containerbg.png');
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 40%;
    height: 40%;
    background-color: black;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px white, inset 0px 0px 5px 2px white;

    font-size: 125%;
    font-family: monospace; 
    color: white; 
    text-shadow: 0 0 5px white;
}