* {
    margin: 0px;
    padding: 0px;
}

#maincontainer {
    background: url('assets/containerbg.png');
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
}

.container {
    width: 500px;
    height: 700px;
    background-color: black;
    border: 2px solid white;

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px white, inset 0px 0px 5px 2px white;

    font-size: 125%;
    font-family: monospace; 
    color: white; 
    text-shadow: 0 0 5px white;

    place-self: center;
}