@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#maincontainer {
    background: url('assets/containerbg.png');
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
}

.container {
    width: 500px;
    height: 700px;
    background: repeating-linear-gradient(to bottom, black 0px, #0c1f3d 4px, black 8px);
    border: 3px solid cyan;

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px cyan, inset 0px 0px 5px 2px cyan;

    font-size: 125%;
    font-family: Michroma; 
    color: cyan; 
    text-shadow: 0 0 5px cyan;

    place-self: center;
    text-align: center;
    z-index: 2;
}

canvas {
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: none;
}

.loginheader {
    font-size: 125%;
    font-weight: bold;
}

#bgparticles-back {
    z-index: 0;
    position: absolute;
}

#bgparticles-front {
    z-index: 1;
    position: absolute;
}

#crt {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0.5) 2px, transparent 2px, transparent 4px, rgba(0, 0, 0, 0.5) 4px), repeating-linear-gradient(90deg, rgba(255, 0, 0, 0.25) 0px, rgba(255, 0, 0, 0.25) 1px, rgba(0, 128, 0, 0.25) 1px, rgba(0, 128, 0, 0.25) 2px, rgba(0, 0, 255, 0.25) 2px, rgba(0, 0, 255, 0.25) 3px, rgba(255, 0, 0, 0.25) 3px);
    z-index: 100;
    pointer-events: none;
}