@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#maincontainer {
    background: url('assets/containerbg.png');
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
}

.container {
    width: 500px;
    height: 700px;
    background: repeating-linear-gradient(to bottom, black 0px, #0c1f3d 4px, black 8px);
    border: 3px solid cyan;

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px cyan, inset 0px 0px 5px 2px cyan;

    font-size: 125%;
    font-family: Michroma; 
    color: cyan; 
    text-shadow: 0 0 5px cyan;

    place-self: center;
    text-align: center;
}

canvas {
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: none;
}

.loginheader {
    font-size: 125%;
    font-weight: bold;
}