* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#maincontainer {
    background: url('assets/containerbg.png');
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 500px;
    height: 300px;
    background-color: black;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}